
@mixin prefix($property, $value, $prefixes)
  @each $prefix in $prefixes
    -#{$prefix}-#{$property}: $value
  #{$property}: $value

.gray
  @include prefix(filter, grayscale(50%), moz webkit)

body
  font-family: 'Kalam', cursive !important

.bg-fade
  transition-property: background
  transition-duration: .3s

.title
  color: white
  text-shadow: 3px  3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #888, -1px  1px 0 #eee, 1px  1px 0 #000

.game-container
  height: 100%
  width: 100%
  position: absolute
  display: flex
  align-items: center
  justify-content: center

.upside-down
  @include prefix(transform, scaleY(-1), webkit moz ms o)

